

<main style="
background-color:black;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;">

<div style="
      width: 300px;
      padding: 20px;
      background-color: #0077B5;
      color: #FFFFFF;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    ">
    <span style="font-size: 24px; font-weight: bold;">Təsdiq!</span>
    <span style="font-size: 18px;">Sizin Emailiniz Tesdiqlendi!</span>
    <a href="/auth/login" style="
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #FFFFFF;
        color: #0077B5;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
      ">Daxil Olun!</a>
</div>
</main>
