
@model UserResetPasswordDTO
@{
    Layout = "_AuthLayout";
}

<form method="post">
    <input type="hidden" value="@Model.UserId" asp-for="UserId" />
    <input type="hidden" value="@Model.Token" asp-for="Token" />
    <div class="container">

        <div class="form-group">
            <label>Yeni Parol</label>
            <input type="password" value="" asp-for="NewPassword" class="form-control" placeholder="Yeni Parolu Daxil Edin" />
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>
        <div class="form-group">
            <label>Yeni Parol Yeniden Daxil Edin</label>
            <input type="password" class="form-control" value="" asp-for="NewPasswordConfirm" placeholder="Yeni Parol Yeniden Daxil Edin" />
            <span class="text-danger" asp-validation-for="NewPasswordConfirm"></span>
        </div>

        <button type="submit" class="btn btn-outline-success">Təsdiqlə</button>
    </div>

</form>
