@{

    Layout = "_AuthLayout";

}

<div asp-validation-summary="All" class="text-danger"></div>
<div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="col-12">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Xoş Gəldiniz!</h1>
                </div>
                <form class="user" method="post">
                    <div class="form-group">
                        <input for=Email type="email" class="form-control form-control-user"
                               id="exampleInputEmail" aria-describedby="emailHelp"
                               placeholder="Elektron Poct Daxil Edin">
                        <span class="text-danger"for="Email"></span>
                    </div>
                    <div class="form-group">
                        <input  type="password" class="form-control form-control-user"
                               id="exampleInputPassword" placeholder="Parol Daxil Edin">
                        <span class="text-danger" for="Password"></span>

                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input for=RememberMe type="checkbox" class="custom-control-input" id="customCheck">
                            <label class="custom-control-label" for="customCheck">
                                Xatirla Məni
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Daxil ol
                    </button>


                </form>
                <hr>
                <div class="text-center">
                    <a class="small" asp-controller="auth" asp-action="ForgotPassword">Parolu Unutmusunuz?</a>
                </div>
                <div class="text-center">
                    <a class="small" asp-controller="auth" asp-action="Register">Yeni Profil Yarat!</a>
                </div>
            </div>
        </div>
    </div>
</div>
