@model AddAuditoriumDTO


<form method="post">  
    <div class="text-danger" asp-validation-summary="All"></div>
<div class="form-group">
    <label asp-for="AuditoryCapacity">Auditoriya Tutumu</label>
    <input class="form-control" type="number" min="0" asp-for="AuditoryCapacity" />
       
  
</div>
    <div class="alert alert-warning">
        <strong>Xəbərdarlıq!</strong> Auditoriya 1-ci korpus 512-ci otaqdadirsa Auditoriya nomresini 1-512 seklinde yazin!.
    </div>
<div class="form-group">
    <label asp-for="AudutoriyaNumber">Auditoriya Nomrəsi</label>
        <input class="form-control" type="text" asp-for="AudutoriyaNumber" />
     

    </div>
    <button class="btn btn-outline-success">Yarat</button>
</form>